* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #021926;
}

/* Navbar css */

.navbar {
    color: aliceblue;
    background-color: rgb(67, 24, 110);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    height: 67px;
}

.nav {
    /* display: inline-block; */
    width: 50%;
    height: inherit;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left_nav {
    background-color: #4d0778;
    width: 40%;
}

.logo img {
    width: 5rem;
    margin: 0px 20px;
}

.title {
    margin: 0px auto;
    font-size: 40px;
    color: whitesmoke;
    border: 4px double white;
    padding: 3px 15px;
}

.right_nav {
    background-color: black;
    width: 60%;
}

.right_nav .list {
    width: 100%;
    list-style: none;
    padding: 16px 9px;
    display: flex;
    justify-content: flex-start;
}

.right_nav .list .list_item a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-right: 18px;
    padding: 8px 22px;
    border: 2px solid rgba(255, 255, 255, 0);
}

.right_nav .list .list_item a:hover {
    color: #f3ff7c;
    background-color: rgb(63 0 74 / 59%);
    border: 2px solid white;
    border-radius: 25px;
}

.search {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    width: 50%;
    height: auto;
}

.search_box {
    background-color: rgb(77 7 120 / 49%);
    /* background-color: #4d0778; */
    color: white;
    padding: 8px;
    margin: 0px 5px;
    cursor: pointer;
    border: 4px double white;
    border-radius: 35px;
    text-align: center;
}

/* main css */

.main {
    background-color: rgb(182, 207, 236);
    background-image: url(background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 98vw;
    margin: 0px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    place-content: center;
    
}

.main_search {
    height: 100px;
    display: flex;
    place-content: center;
    position: relative;
    margin: auto;
    padding: 10px;
    
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg_transperant {
    background-color: rgba(0, 0, 0, 0.492);
    width: 40vw;
}

.box {
    background-color: #00000087;
    height: 230px;
    width: 40vw;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    place-content: center;
    justify-content: space-evenly;
    margin: auto;
    border-radius: 20px;
    position: relative;
    top: -130px;
}

.box_items {
    background-color: rgba(240, 248, 255, 0.44);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    margin: 10px;
    height: 80px;
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box_items:hover{
    background-color: rgba(240, 248, 255, 0.738);
    transform: perspective(27px);
    transition:ease-in;
    transition-duration: 0.2s;
    /* transform:scale(1.1); */
}
.icon{
    display: block;
    width: 30px;
    background-color: aliceblue;
    border-radius: 50%;
}

.anchor{
display: block;
color: #021926;
text-decoration: none;
font-size: 1.5rem
}

.footer{
    display: inline-flex;
}

.footer p {
    color: rgb(22 135 143);
    letter-spacing: 1px;
    word-spacing: 1 px;
    text-align: center;
    border-top: 1px solid white;
    width: 50%;
    margin: auto;
    padding: 5px;
}